<div class="my-5">
  <%= form.label :artist %>
  <%= form.text_field :artist, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<p class="my-5">
  <strong class="block font-medium mb-1">Artist:</strong>
  <%= list.artist %>
</p>

<div>
  <%= form.label :image, style: "display: block" %>
  <%= form.file_field :image %>
</div>
<p class="my-5">
  <strong class="block font-medium mb-1">Artist:</strong>
  <%= list.artist %>
</p>
