<div id="<%= dom_id article %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= link_to article.title, article_path(article),
    class: "text-orange-600 underline hover:text-orange-700" %>
  </p>
  <hr />
  <% if article.image.content_type.in?(%w[image/jpeg image/png image/jpg]) %>
    <%= link_to image_tag(article.image,
    style:"width:300px, height:300px"), article.image %>
  <% end %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Publish:</strong>
    <%= article.publish %>
  </p>
  <hr />
  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= article.body %>
  </p>
  <br />
  <% if article.pictures.attached? %>
    <% article.pictures.each do |picture| %>
      <%= link_to image_tag(picture,
       style:"width:150px, height:150px"),
       picture %>
    <% end %>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this article", article, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this article', edit_article_path(article), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
