<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div>
      <%= link_to "Edit this article", edit_article_path(@article) %> |
      <%= link_to "Back to articles", articles_path %>
    </div>
    <hr />
    <h3><%= @article.title %></h3>
    <h4><small><%= @article.tag_names %><br /></small>
      <% form_for @article do |f|  %>
        <%= f.collection_select :tag_ids,
          Tag.all, :id, :name %>
        <%= f.submit %>
      <% end %>
    </h4>
    <h5><small><%= @article.publish %></small></h5>
    <div id="navbar" class="1collapse">
      <ul class="nav navbar-nav">
        <li class="">
          <p style="width:650px; heigh:auto">
          <% if @article.image.attached? %>
            <%= link_to image_tag(@article.image,
            style:"width:640px; heigh:auto"), @article.image %>
          <% end %>
          </p>
        <li><hr /></li>
        <li class="">
          <p style="width:400px; heigh:200px">
            <%= @article.body %>
          </p>
        </li>
        <li class="">
          <% if @article.pictures.attached? %>
            <% @article.pictures.each do |attachment| %>
              <% if attachment.image? %>
                <%= image_tag attachment, width: "200px" %>
              <% elsif attachment.audio? %>
                <audio controls>
                  <source src="<%= rails_blob_url(attachment) %>"
                    type="<%= attachment.content_type %>" />
                </audio>
              <% elsif attachment.video? %>
                <video controls width="720">
                  <source src="<%= rails_blob_url(attachment) %>"
                    type="<%= attachment.content_type %>" />
                </video>
              <% else %>
                <%= link_to attachment.filename,
                rails_blob_path(attachment, disposition: "attachment") %>
              <% end %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
    <hr />
    <%= link_to 'Edit this article', edit_article_path(@article), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this article', article_path(@article), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to articles', articles_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
